span {
    margin: 0 20px 0 0;
    font-weight: 600;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 80px;
}

div {
    height: 80px;
}

#shoutcastradiovideobackground {
    overflow: hidden;
    z-index: 12;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

