li {
    background-color: #787d2d17;
    color: white;
    margin-bottom: 1px;
    border-radius: 5px;
}

li:hover {
    background-color: rgba(246, 124, 1, 0.14);
    color: white;
    margin-bottom: 1px;
    border-radius: 5px;
}

#shoutcastradiovideobackground {
    overflow: hidden;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    position: fixed;
}

.list-group {
    height: 100%;
    overflow: scroll;
    flex: none;
}