<video id="shoutcastradiovideobackground" autoplay muted loop>
    <source src="https://www.flashradio.info/videos/clouds.mp4">
</video>

<ul class="list-group"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
>
    <li class="list-group-item animated slideInRight"
        *ngFor="let station of radioStations"
    >
        <app-station
                [station]="station"
        ></app-station>
    </li>
</ul>

<router-outlet></router-outlet>
