#playRadio {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
}

#redirectToMain {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
}

#redirectToMain a {
    text-transform: uppercase;
}

#redirectToMain a, #redirectToMain span, #radioName {
    color: rgb(106, 118, 128);
    font-weight: 500;
    font-size: 28px;
    cursor: pointer;
}

#redirectToMain a:hover {
    text-decoration: none;
}

#redirectToMain span, #radioName {
    position: relative;
    z-index: 5;
}

#shoutcastradiocoverimg {
    align-self: center;
    width: 300px;
    height: 300px;
    z-index: 5;
    border-radius: 173px;
    border: 9px solid #B5BBC0;
}

#shoutcastradiovideobackground {
    overflow: hidden;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    position: fixed;

}

#shoutcastradioplaystopcontainer p {
    position: relative;
    top: -70px;
    color: rgb(106, 118, 128);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

#shoutcastradioplaystopcontainer {
    z-index: 42;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    bottom: 25px;
    cursor: pointer;
    background-color: rgb(106, 118, 128);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shoutcastradioplaybutton {
    z-index: 43;
    top: 18px;
    left: 22px;
    height: 40px;
    width: 40px;
    position: absolute;
    fill: rgb(255, 255, 255);
    user-select: none;
}

#shoutcastradiostopbutton {
    z-index: 44;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    fill: rgb(255, 255, 255);
    user-select: none;
}

#shoutcastradiostopbutton svg {
    position: relative;
    left: -2px;
    top: -2px;
}

#radioName {
    width: 300px;
    height: 400px;
    align-self: center;
    text-transform: uppercase;
    opacity: .8;
    text-align: center;
    margin-bottom: 50px;
}

#thefile {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}