<div id="playRadio">

    <div>
        <video id="shoutcastradiovideobackground" autoplay="" loop="">
            <source src="https://www.flashradio.info/videos/clouds.mp4">
        </video>
    </div>

    <div id="redirectToMain">
        <a [routerLink]="['/stations']">stations</a>
    </div>

    <div id="content">
        <canvas id="canvas"></canvas>
        <audio #audio src="{{station?.http}}"></audio>
    </div>


    <div id="radioName">
        <img id="shoutcastradiocoverimg" src="{{station?.img}}">
        <br>
        <p>{{station?.name}} {{station?.wave}}</p>

    </div>


    <div id="shoutcastradioplaystopcontainer">
        <p *ngIf="!loaded">Loading...</p>

        <div *ngIf="!play" id="shoutcastradioplaybutton" (click)="playPause()">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
                <path d="M226.928,725.51c-5.258,3.01-94.982,65.39-94.98,0l-0.001-647.112c0-75.341,92.9-0.739,94.982,0l421.455,285.66 c26.227,26.226,26.229,68.752,0,94.981L226.928,725.51z"></path>
            </svg>
        </div>

        <div *ngIf="play" id="shoutcastradiostopbutton" (click)="playPause()">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
                <path d="M724.354,664.7c0,32.945-26.711,59.653-59.654,59.653H135.3c-32.946,0-59.654-26.708-59.654-59.653V135.301 c0-32.946,26.708-59.654,59.654-59.654h529.4c32.943,0,59.654,26.708,59.654,59.654V664.7z"></path>
            </svg>
        </div>
    </div>
</div>