<ng-template #stationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{station.wave}} {{station.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="closeModalAndRedirect(['/stations'])">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img src="{{station.img}}" alt="">
    </div>
    <div class="modal-footer">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
        </p>
    </div>
    <div class="playDiv">
        <p class="btn btn-dark" (click)="closeModalAndRedirect(['/station', station.id, 'play'])">Play</p>
    </div>
</ng-template>