img {
    width: 500px;
}

.modal-title {
    text-transform: uppercase;
}

.modal-text {
    padding: 0 18px;
    font-size: 15px;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#shoutcastradioplaybutton > svg {
    border-radius: 50px;
    padding: 10px;
    background-color: gray;
    cursor: pointer;
}

#shoutcastradioplaybutton {
    z-index: 43;
    fill: rgb(255, 255, 255);
    user-select: none;
}

.modal-footer {
    justify-content: center;
}

.modal-header, .modal-footer {
    color: gray;
}

.playDiv {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}